@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave+Display&display=swap");

:root {
  --divider: white;
  --border: white;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./src/bg.jpg") center/cover no-repeat fixed;
  position: relative;
}

* {
  padding: 0px;
  margin: 0px;
  color: white;
}

.apod-container {
  text-align: center;
  margin-top: 50px;
  align-content: center;
}

.apod-image {
  max-width: 70vh;
  height: 70vh;
  margin-bottom: 20px;
  object-fit: cover;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(226, 208, 208, 0.5),
    0 6px 20px 0 rgba(155, 100, 100, 0.5);
}

.apod-btn {
  color: white;
  background-color: #333;
  border: 3px solid var(--border);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}

.apod-btn-active {
  /* Additional styles for the active state */
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  opacity: 1;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.apod-btn-hidden {
  opacity: 0;
  pointer-events: none;
}

.apod-btn-fadein {
  opacity: 0;
  animation: opacityFadeIn 1.5s forwards, slideFromTop 1s forwards; /* Apply the opacityFadeIn */
}

@keyframes opacityFadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}
@keyframes slideFromTop {
  from {
    top: 0%;
  }
  to {
    top: 50%;
  }
}

.apod-btn:hover {
  color: #333;
  background-color: white;
  transition: 0.3s;
}

.apod-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.apod-btn:focus-visible {
  box-shadow: none;
}

.apod-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100vh;
}

.apod-info {
  text-align: left;
  align-content: center;
  padding: 4rem 6rem;
}

.apod-title {
  font-family: "Sedgwick Ave Display", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 1rem 0rem;
  font-size: 60px;
}

.apod-explanation {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  text-align: justify;
}
